html,
body {
	height: 100%;
}

body {
	background: #263238;
	/*
	background: rgb(42, 42, 51);
	background: radial-gradient(circle, rgba(42, 42, 51, 1) 0%, rgba(25, 26, 33, 1) 100%);
*/
}

.header {
	padding: 10px;
}

.header img {
	width: 150px;
}

.conteudo header {
	display: flex;
	justify-content: center;
	margin-bottom: 30px;
}

.container-tabs {
	justify-content: center;
	margin-top: 20px;
	margin-bottom: 30px;
}

.container-tabs__content {
	display: flex;
	margin: 0 !important;
}

.container-tabs__content .tabs a {
	color: #FF4040;
}

.tabs-conteudo {
	display: flex !important;
}

.testar-container {
	display: flex;
	justify-content: center;
	background: #171823;
	height: 450px;
}

.box {
	display: flex;
	background: grey;
	padding: 10px;
	margin: 10px;
	width: 360px;
	min-height: 360px;
	justify-content: center;
	align-items: center;
}

.box-arquivo {
	display: flex;
	flex-direction: column;
	align-content: space-between;
}

.box-arquivo p {
	color: white;
}

.box-entrada {
	background: white;
	width: 100%;
	margin-bottom: 20px;
	resize: none;
	letter-spacing: 10px;
	height: 200px;
}

.btn-comandos {
	display: flex;
	justify-content: space-between;
	width: 100%;
}

.btn-comandos .btn:first-child {
	margin-right: 20px;
}

.box-resultado p {
	color: white;
}

.container-letra {
	display: flex;
	color: white;
	width: 100%;
	height: 100%;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
}

.letra-identificada {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
}

.letra-identificada span{
	font-weight: lighter;
	font-size: 100px;
	text-transform: uppercase;
	line-height: 1;
	text-align: center;
	width: 100%;
	margin-bottom: 20px;
}

.loader {
	width: 100%;
	margin-bottom: 20px;
}

.loader .progress {
	background: white;
}

.loader .progress .determinate{
	background: #FF4040;
}

.loader-percent {
	display: flex;
	height: 30px;
}

.loader-percent__letra {
	margin-right: 20px;
	line-height: 20px;
	height: 20px;
	width: 90px;
	text-align: left;
	font-size: 13px;
}

.letra-identificada p{
	font-size: 16px;
	text-transform: lowercase;
}

.btn-group {
	display: flex;
	justify-content: center;
}

.treinar-container {
	display: flex;
	flex: 1;
	flex-direction: column;
	justify-content: space-between;
}

.comandos-group {
	height: 400px;
	display: flex;
	flex: 1;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	background: #171823;
	padding: 10px;
}

.btn-pesos {
	display: none;
	margin-top: 20px;
}

.treinar-form {
	color: white;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	margin: 10px;
	background: #171823;
	padding: 10px;
}

.treinar-form .input-field label {
	color: white;
}

.form-descricao {
	margin-bottom: 20px;
}

.group-modelos {
	display: flex;
	justify-content: space-between;
	width: 100%;
	margin-bottom: 10px;
	flex-direction: column;
}

.group-modelos .group-botoes {
	display: flex;
	margin-bottom: 10px;
	width: 100%;
}

.group-botoes a{
	flex: 1;
}

.lista-caracteres > a {
	margin-bottom: 10px;
}

.porcentagem {
	width: 100%;
	text-align: center;
}