html,
body {
	height: 100%;
}

body {
	background: #263238;
	/*
	background: rgb(42, 42, 51);
	background: radial-gradient(circle, rgba(42, 42, 51, 1) 0%, rgba(25, 26, 33, 1) 100%);
*/
}

.header {
	padding: 10px;
}

.header img {
	width: 150px;
}

.conteudo header {
	display: flex;
	justify-content: center;
	margin-bottom: 30px;
}

.container-tabs {
	display: flex;
	justify-content: center;
	margin-top: 20px;
	margin-bottom: 30px;
}

.container-tabs__content {
	display: flex;
	margin: 0 !important;
}

.container-tabs__content .tabs a {
	font-weight: bold;
	color: #FF4040;
}

.tabs-conteudo {
	display: flex !important;
}

.testar-container {
	display: flex;
	justify-content: center;
}

.box {
	display: flex;
	background: grey;
	padding: 10px;
	margin: 10px;
	width: 360px;
	min-height: 360px;
	justify-content: center;
	align-items: center;
}

.box-arquivo {
	display: flex;
	flex-direction: column;
	align-content: space-between;
	height: 100%;
}

.box-arquivo p {
	color: white;
}

.box-entrada {
	background: white;
	min-height: 80%;
	width: 100%;
	margin-bottom: 20px;
	resize: none;
	letter-spacing: 10px;
	height: 150px;
}

.btn-comandos {
	display: flex;
	justify-content: space-between;
	width: 100%;
}

.btn-comandos .btn:first-child {
	margin-right: 20px;
}

.box-resultado p {
	font-weight: bold;
	color: white;
}

.btn-group {
	display: flex;
	justify-content: center;
}

.treinar-container {
	display: flex;
	flex: 1;
	flex-direction: column;
	justify-content: space-between;
}

.comandos-group {
	height: 400px;
	display: flex;
	flex: 1;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	margin: 10px;
	background: #171823;
	padding: 10px;
}

.btn-pesos {
	display: none;
	margin-top: 20px;
}

.treinar-form {
	color: white;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	margin: 10px;
	background: #171823;
	padding: 10px;
}

.treinar-form .input-field label{
	color: white;
}

.form-descricao {
	margin-bottom: 20px;
}

.group-modelos {
	display: flex;
	justify-content: space-between;
	width: 100%;
	margin-bottom: 10px;
	flex-direction: column;
}

.group-modelos .group-botoes {
	display: flex;
	justify-content: space-between;
	margin-bottom: 10px;
}

.lista-caracteres > a{
	margin-bottom: 10px;
}